<h1>Root Component</h1>

<app-reform></app-reform>

<!--<app-tdform></app-tdform>

<button (click)="title = 'New Angular App'">Change Title</button> <br><br>

<button (click)="isDestroy=!isDestroy">Create / Destroy</button><br><br>

<app-lifecycle [mytitle]="title" *ngIf="!isDestroy"></app-lifecycle>

<app-mydirectives></app-mydirectives>

<app-defaultpipes>
    <div>
        <h3> ng-content Directive Example</h3>
    </div>

    <p>
        ng-content example goes here
    </p>

    <span test>
        Just a text
    </span> <br><br>
    
</app-defaultpipes>

<app-addproducts></app-addproducts>

 <div app-addpdtattr></div>

<div class="app-addpdtclass"></div> -->